@font-face {
  font-family: "fontcustom";
  src: url("/fonts/fontcustom_7daf3d35c00677bc9208a50f8124be27.eot");
  src: url("/fonts/fontcustom_7daf3d35c00677bc9208a50f8124be27.eot?#iefix") format("embedded-opentype"),
       url("/fonts/fontcustom_7daf3d35c00677bc9208a50f8124be27.woff") format("woff"),
       url("/fonts/fontcustom_7daf3d35c00677bc9208a50f8124be27.ttf") format("truetype"),
       url("/fonts/fontcustom_7daf3d35c00677bc9208a50f8124be27.svg#fontcustom") format("svg");
  font-weight: 800;
  font-style: normal;
}