---

---

$lan: "Lantinghei SC";
$wqy: "WenQuanYiMicroHeiLight";
$hira: "Hiragino Sans GB";
@import "solarized.scss";

h1, h2, h3 {
  font-weight: 900;
  text-align: center;
  font-family: songti sc;
}

body {
  background: #ecece;
  color: black;
  font-size: 24px;
  font-family: georgia, $hira, $wqy, $lan;
  font-weight: 400;
  margin: 0;
}
.nav{
  font-size: 0.8em;
  color: $base00;
}

.masthead {
  font-size: 1.5em;
  border-bottom: 2px dashed $base03;
  margin: 0 1em 4em 1em;

}
ul {
  padding-left: 0;
  list-style:none;
}
li {
  margin: 4em 0;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover { color: $blue; }
}
.pinyin-mark{
  
}
.trans{
  // color:$base01;
}
.text{
  padding:0 1em;
  max-width: 640px;
  margin: 0 auto;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.quote{
  margin: 5em 0;
}
hr {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
.number{
  //display: none;
  font-family: Helvetica;
  text-align: left;
}
.char{
  display: none;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: 800;
}
blockquote {
  //font-size: 1.2em;
  // font-family: Songti SC;
  // border-left: 0.2em solid $base03;
  padding-left:0.5em;
  margin: 0 auto 0 auto;
  width: 60%;
  font-weight: 800;
}
.description {
  margin: 1.5em 0;
  text-align: right;
  padding-left: 1em;
}
.action {
  font-size: 0.8em;
  width: 40%;
  margin: 0 auto 0.5em auto;
  //padding-right:5em;
  text-align: right;
}





























