---
layout: default
title: pspEgg
type: index
subtitle: "&nbsp;"
---

<!-- <div class="line"></div> -->

<div class="home-page">
  <div class="nav">
    <!-- by 亲爱的高老师 -->
  </div>
  <div class="interlaced">
      {% for q in site.interlaced %}
      {% if q.type == 1 %}
         <div class="quote-article">
         <div class="url">
           <a href="/{{q.url}}"><span class="url-text">{{q.url}}</span></a>
         </div>
           {{q.html}}
         </div> 
      {% else %}
         <div class="translation-article"><a href="\{{q.url}}">{{q.html}}</a></div>
      {% endif %}
      {% endfor %}
  </div>
</div>